/* import font */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:wght@300;400;500;700&display=swap');

/* formatting css */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

:root {
    --theme_fonts: #ff6b28;
}

/* header */

.top_bar {
    background-color: var(--theme_fonts);
    padding: 15px;
    text-align: center;
}

.banner {
    background-image: url(../images/hero_bolo.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

/* main */

main {
    max-width: 990px;
    margin: auto;
    padding: 0 40px;
    margin-top: 100px;
}

h1,
h2 {
    color: var(--theme_fonts);
}

h1 {
    font-weight: 48px;
}

h2 {
    font-weight: 28px;
}


.card {
    margin-top: 50px;
    padding: 70px 100px;
}

.card:hover {
    border-radius: 20px;
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.45);
}

.ingredients,
a button {
    cursor: url(../images/cursor_ingredientes.png), auto;
}

.preparation {
    cursor: url(../images/cursor_preparo.png), auto;
}

.instructions {
    cursor: url(../images/cursor_intrucoes.png), auto;
}

ul,
ol {
    margin-top: 1em;
    list-style-position: inside;
}

li {
    margin-top: 14px;
}

a button {
    margin-top: 1.5em;
    color: white;
    background-color: var(--theme_fonts);
    padding: 1em;
    border: none;
    border-radius: 20px;
}

main p,
main li {
    margin-top: 1em;
    line-height: 28px;
}

/* footer */

.footer_bar {
    background-color: var(--theme_fonts);
    margin-top: 3em;
}

.footer_bar p {
    color: white;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    font-size: 16px;
    line-height: 24px;
}

.footer_bar a {
    text-decoration: none;
    color: white;
}